/*.ck-editor__editable {
min-height: 75vh !important;
}
*/

.cke_editable
{
    
    line-height: 0.6 !important;
}
.addarticle{
	margin-top:10vh;
	margin-left:18vw;
}


@media screen and (max-width: 1024px){
	.addarticle{
	margin-left:0;
}
	}