.drop-outer a{
	text-decoration:none !important;
	color:white;
	
 font-size:1.2rem;

}

.drop-outer a:hover{
	text-decoration:none;
	color:white;
 font-size:1.2rem;
}

.drop-outer{
	text-align:center;
	
	
}
.drop-inner{
	margin-left:12px;
}

.drop-text{
	/*border-left:3px solid white;*/
	padding:2.5px 0;
	margin:2.5px 0;
	display:flex;
justify-content:space-between;
align-items:center;
}

.circle{
	height:12px;
	width:12px;
	border-radius:50%;
	margin-right:10px;
	border:2px solid white;
}
.circle.focus{
	background:white;

}