.header{
	background-color:#A81838;
	height:8vh;
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:100%;
	top:0;
	position:fixed;
	z-index:10;
}

.bars{
	margin-left:2rem;
	font-size:1.5rem;
	color:white;
	cursor:pointer;
    
}

.logout-container{
	cursor:pointer;
	display:flex;
}

.logout-text{
color:white;
margin:0rem .8rem;
font-size:1rem;

}

.sign-out{

	font-size:1.5rem;
	color:white;
}

/*.sidebar{
	display:block;
}*/

/*@media screen and (max-width: 1024px){
	.sidebar{
		position:absolute;
		left:-100%;
		transition:0.5s;
		z-index:1;
		height:100%;
		width:auto;
	}
	.sidebar.active{
		left:0;
		transition:1s;
	}
}
*/