.table-container{
	display:flex;
	flex-direction:column;
	/*margin-left:275px;*/
	border:2px solid #A81838;
	margin-top:20px;
	overflow-x:auto;
	text-align:center;
}

.table-header{
	background:#A81838;
	font-size:1.5rem;
	color:white;
	margin:.5rem;
}


table{
	width: -webkit-fill-available;
	border:1.5px solid #A81838;
	border-collapse:collapse;
	margin:.5rem;
text-align:center;

}
th{
	background:#A81838;
	font-size:.85rem;
	color:white;
	margin:.6rem;
font-weight:400;
}
td{
	font-size:1rem;
	padding:.2rem;
}

/*th,td{
	border-right:solid 1.5px solid #A81838;
	border-left:solid 1.5px solid #A81838;
}*/
th:not(:last-child){
	border-right: 1.5px solid white;
}
td:not(:last-child){
	border-right: 1.5px solid #A81838;
}


@media screen and (max-width: 1024px){
	table{
	width:100%;
}
/*td{
	font-size:1rem;
	margin:0 .5rem ; 
}*/
	}






