.total-container{
	display:flex;
	flex-direction:column;
	/*margin-left:275px;*/
	margin-top:20px;
	
}

.detail-container{
	margin-left:.5rem;
	display:flex;
	flex-direction:column;
	justify-content:flex-start; 
	align-items:flex-start;
}
.detail-container p{
  font-size:1.4rem;
  font-weight:bold;
}
.detail-container h2{
  font-size:1.6rem;
}

.total-item{
	display:flex;
	justify-content:flex-start;
	align-items:flex-start;
	margin:.5rem;
	width:fit-content;
}


.icon-container{
	height:6rem;
	width:6rem;
	background:#A81838;
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:2.5rem;
}