.viewarticle{
	margin-top:10vh;
	margin-left:18vw;	
}

.a-filter-header,.a-details-header{
background:#A81838;
	font-size:1.5rem;
	color:white;
	text-align:center;
}

.a-details-page{
	display:flex;
	justify-content:space-between;
	align-items:center;
	height:auto;
	flex-wrap:wrap;
	margin:1rem ; 
}

.article-filter-container,.article-details-container{
	border:2px solid #A81838;
	margin:1rem 0;
}
.article-filter,.article-details{
	padding:1rem;
}
.article-filter-form{
	margin:1rem 0;
}

@media screen and (max-width: 1024px){
	.viewarticle{
	margin-left:0;
}
	}